<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="{{ path('list_products') }}">Listado de productos</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('create_product') }}">Crear Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('create_customer') }}">Crear Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('create_provider') }}">Crear Proveedor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('purchase_invoice') }}">Crear Factura de Compra</a>
            </li>
        </ul>
    </div>
</nav>
